<!DOCTYPE html>
<html 
	xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/defaultLayout">
	<body>
		<section layout:fragment="content">
			<div class="sub-visual subv-4">
				<h1>inwoo<br><span></span>R&D</h1> 		
			</div>
			<div class="sub-tabs">
				<div class="tabs-wr"> 
					<a href="/" class="home"><img src="/static/images/sub/ic_home.png" alt="홈">HOME</a>
					<ul class="m-none tab-ul_1">
						<li>
							<a class="active"><th:block th:text="${currentMenu.mcName}"></th:block><img src="/static/images/sub/ic_arrow.png" alt="화살표">
							<ul>
								<li th:each="main, i:${menu.mainMenu}" th:with="uri=${#httpServletRequest.requestURI}">
									<a th:if="${currentMenu.mcIdx} != ${main.mcIdx}" th:href="@{'/' + ${main.mcCategory} + '/' + ${main.mcUrl}}" th:text="${main.mcName}"></a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="tab-ul_2">
						<li>
							<div th:with="uri=${#httpServletRequest.requestURI}" th:each="sub, i:${subMenu}" th:remove="tag">
								<a th:if="${#strings.indexOf(uri, sub.smcCategory + '/' + sub.smcUrl)} >= 0" class="active" style="color:#222"><th:block th:text="${sub.smcName}"></th:block><img src="/static/images/sub/ic_b_arrow.png" alt="화살표">
							</div>
							<a class="active" th:utext="${currentSubMenuOne.smcName} + '<img src=\'/static/images/sub/ic_arrow.png\'>'"></a>
							<ul>
								<li th:each="sub, i:${currentSubMenu}" th:with="uri=${#httpServletRequest.requestURI}">
									<a th:unless="${#strings.indexOf(uri, sub.smcCategory + '/' + sub.smcUrl)} >= 0" th:href="@{'/' + ${sub.smcCategory} + '/' + ${sub.smcUrl}}" th:text="${sub.smcName}"></a>
								</li>		
							</ul>
						</li> 
					</ul>
				</div>
			</div>  
			<div class="sub-tit">
				<h2 th:text="#{rnd.eco.subtit}"></h2> 
			</div>
			
			<div id="Eco" class="ta_common">
				<div class="wrap" data-aos="fade-up" data-aos-duration="3000">		
					<div class="txt">
						<div class="dot"></div>
						<h3 th:utext="#{rnd.eco.wrap.h3}"></h3>
						<span class="line"></span>
						<p th:utext="#{rnd.eco.wrap.p}"></p>
					</div>
				</div>
				<div class="wrap2">
					<div data-aos="fade-up" data-aos-duration="3000">
						<h4 th:text="#{rnd.eco.wrap2.h4}"></h4>	
						<table cellpadding="0" cellspacing="0">
							<colgroup>
								<col style="width: 8%;">
								<col style="width: auto;">
							</colgroup>
							<tr>
								<th th:utext="#{rnd.eco.wrap2.tbl.1.1}"></th>
								<th th:utext="#{rnd.eco.wrap2.tbl.1.2}"></th>
								<th th:utext="#{rnd.eco.wrap2.tbl.1.3}"></th>
								<th th:utext="#{rnd.eco.wrap2.tbl.1.4}"></th>				
							</tr>
							<tr>				
								<td>1</td>
								<td th:utext="#{rnd.eco.wrap2.tbl.2.2}"></td>				
								<td th:utext="#{rnd.eco.wrap2.tbl.2.3}"></td>
								<td th:utext="#{rnd.eco.wrap2.tbl.2.4}"></td>
							</tr>
							<tr>				
								<td>2</td>
								<td th:utext="#{rnd.eco.wrap2.tbl.3.2}"></td>
								<td th:utext="#{rnd.eco.wrap2.tbl.3.3}"></td>				
								<td th:utext="#{rnd.eco.wrap2.tbl.3.4}"></td>
							</tr>
							<tr>				
								<td>3</td>
								<td th:utext="#{rnd.eco.wrap2.tbl.4.2}"></td>				
								<td th:utext="#{rnd.eco.wrap2.tbl.4.3}"></td>
								<td th:utext="#{rnd.eco.wrap2.tbl.4.4}"></td>
							</tr>
							<tr>				
								<td>4</td>
								<td th:utext="#{rnd.eco.wrap2.tbl.5.2}"></td>
								<td th:utext="#{rnd.eco.wrap2.tbl.5.3}"></td>
								<td th:utext="#{rnd.eco.wrap2.tbl.5.4}"></td>				
							</tr>				
						</table>
					</div>
				</div>
				<div id="ozon">
					<div>
						<ul class="tab">
							<li><a href="#tab1" class="selected" th:utext="#{rnd.eco.ozon.tab.tab1}"></a></li>
							<li><a href="#tab2" th:utext="#{rnd.eco.ozon.tab.tab2}"></a></li>			
							<li><a href="#tab3" th:utext="#{rnd.eco.ozon.tab.tab3}"></a></li>			
						</ul>
						<ul class="panel">
							<li id="tab1">
								<div class="box" data-aos="fade-up" data-aos-duration="3000">
									<p class="tit" th:utext="#{rnd.eco.ozon.tab1.box1.tit}"></p>
									<p class="s_txt" th:utext="#{rnd.eco.ozon.tab1.box1.stxt}"></p>
								</div>
								<div class="box" data-aos="fade-up" data-aos-duration="3000">
									<p class="tit" th:utext="#{rnd.eco.ozon.tab1.box2.tit}"></p>						
									<div class="img_wrap">
										<div th:utext="#{rnd.eco.ozon.tab1.wrap.div1}"></div>
										<div class="ri" th:utext="#{rnd.eco.ozon.tab1.wrap.div2}"></div>
										<div class="ma" th:utext="#{rnd.eco.ozon.tab1.wrap.div3}"></div>
										<div class="ma ri" th:utext="#{rnd.eco.ozon.tab1.wrap.div4}"></div>
									</div>							
								</div>
								<div class="box" data-aos="fade-up" data-aos-duration="3000">
									<p class="tit" th:utext="#{rnd.eco.ozon.tab1.box3.tit}"></p>
									<div th:if="${i18n} == 'ko'" class="graph"><img src="/static/images/sub/eco_graph.jpg" alt="사용처 및 기대효과"></div>
									<div th:if="${i18n} == 'en'" class="graph"><img src="/static/images/sub/eco_graph_en.png" alt="사용처 및 기대효과"></div>
								</div>
								<div class="box Thum" data-aos="fade-up" data-aos-duration="3000">
									<div class="thum_wrap">
										<div class="thum"><p th:utext="#{rnd.eco.ozon.tab1.box4.div1.p1}"></p></div>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div1.p2}"></p>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div1.p3}"></p>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div1.p4}"></p>
									</div>
									<div class="thum_wrap la">
										<div class="thum"><p th:utext="#{rnd.eco.ozon.tab1.box4.div2.p1}"></p></div>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div2.p2}"></p>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div2.p3}"></p>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div2.p4}"></p>
									</div>
									<div class="thum_wrap">
										<div class="thum"><p th:utext="#{rnd.eco.ozon.tab1.box4.div3.p1}"></p></div>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div3.p2}"></p>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div3.p3}"></p>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div3.p4}"></p>
									</div>
									<div class="thum_wrap la">
										<div class="thum"><p th:utext="#{rnd.eco.ozon.tab1.box4.div4.p1}"></p></div>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div4.p2}"></p>
										<p th:utext="#{rnd.eco.ozon.tab1.box4.div4.p3}"></p>							
									</div>
								</div>
								<div class="box" data-aos="fade-up" data-aos-duration="3000" th:if="${i18n} == 'ko'">
									<p class="tit" th:utext="#{rnd.eco.ozon.tab1.box5.tit}"></p>
									<div class="principleimg"><img src="/static/images/sub/principle.jpg" alt="사용원리"></div>
									<div class="pri_wrap">
										<div>
											<h4 th:utext="#{rnd.eco.ozon.tab1.box5.div1.h4}"></h4>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div1.p1}"></p>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div1.p2}"></p>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div1.p3}"></p>
										</div>
										<div class="sec">
											<h4 th:utext="#{rnd.eco.ozon.tab1.box5.div2.h4}"></h4>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div2.p1}"></p>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div2.p2}"></p>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div2.p3}"></p>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div2.p4}"></p>
											<p th:utext="#{rnd.eco.ozon.tab1.box5.div2.p5}"></p>
										</div>
										<div class="last"><h4 th:utext="#{rnd.eco.ozon.tab1.box5.div3.h4}"></h4></div>							
									</div>						
									<p class="ss_tit" th:utext="#{rnd.eco.ozon.tab1.box5.sstit}"></p>
								</div>
								<div class="box" th:if="${i18n} == 'ko'">
									<p class="tit" th:utext="#{rnd.eco.ozon.tab1.box6.tit}"></p>
									<div class="principleimg"><img src="/static/images/sub/move.jpg" alt="동작원리"></div>						
								</div>
							</li>	
							<li id="tab2">					
								<div class="box" data-aos="fade-up" data-aos-duration="3000">
									<p class="tit" th:utext="#{rnd.eco.ozon.tab2.box1.tit}"></p>
									<p class="s_txt" th:utext="#{rnd.eco.ozon.tab2.box1.stxt}"></p>
									<!-- 
									<div class="circle_wrap">
										<div class="cir">
											<h5 th:utext="#{rnd.eco.ozon.tab2.cir1.h5}"></h5>
											<p th:utext="#{rnd.eco.ozon.tab2.cir1.p1}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.cir1.p2}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.cir1.p3}"></p>
										</div>
										<div class="cir">
											<h5 th:utext="#{rnd.eco.ozon.tab2.cir2.h5}"></h5>
											<p th:utext="#{rnd.eco.ozon.tab2.cir2.p1}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.cir2.p2}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.cir2.p3}"></p>
										</div>
										<div class="cir">
											<h5 th:utext="#{rnd.eco.ozon.tab2.cir3.h5}"></h5>								
										</div>
										<div class="cir">
											<h5 th:utext="#{rnd.eco.ozon.tab2.cir4.h5}"></h5>								
										</div>
										<div class="sq">
											<h5 th:utext="#{rnd.eco.ozon.tab2.sq.h5}"></h5>
											<p th:utext="#{rnd.eco.ozon.tab2.sq.p1}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.sq.p2}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.sq.p3}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.sq.p4}"></p>
											<p th:utext="#{rnd.eco.ozon.tab2.sq.p5}"></p>
										</div>
									</div>
									 -->
									<div class="circle_wrap"><img th:if="${i18n} == 'ko'" src="/static/images/sub/eco_biod.png" alt="차세대바이오디젤"><img th:if="${i18n} == 'en'" src="/static/images/sub/eco_biod_e.png"></div>
									<div class="circle_wrap_t"><img th:if="${i18n} == 'ko'" src="/static/images/sub/eco_biod_t.png" alt="차세대바이오디젤"><img th:if="${i18n} == 'en'" src="/static/images/sub/eco_biod_te.png"></div>
									<div class="circle_wrap_m"><img th:if="${i18n} == 'ko'" src="/static/images/sub/eco_biod_m.png" alt="차세대바이오디젤"><img th:if="${i18n} == 'en'" src="/static/images/sub/eco_biod_me.png"></div>
									<div class="kist">
										<p class="tit" th:utext="#{rnd.eco.ozon.tab2.kist.tit}"></p>
										<div>
											<img src="/static/images/sub/kist1.png" alt="초임계 정제 장치">
											<p class="s_tit" th:utext="#{rnd.eco.ozon.tab2.kist.stit1}"></p>							
										</div>
										<div class="la">
											<img src="/static/images/sub/kist2.png" alt="초임계 상평형 장치">
											<p class="s_tit" th:utext="#{rnd.eco.ozon.tab2.kist.stit2}"></p>								
										</div>
									</div>
								</div>
								<!-- 
								<div data-aos="fade-up" data-aos-duration="3000" class="ta_wrap">
									<h4 th:utext="#{rnd.eco.ozon.tab2.rights.h4}"></h4>	
									<table border="0" cellpadding="0" cellspacing="0" class="ta">
										<colgroup>
											<col style="width:20%;">
											<col style="width: auto;">
										</colgroup>
										<tr>
											<th th:utext="#{rnd.eco.ozon.tab2.rights.tbl.1.1}"></th>
											<th th:utext="#{rnd.eco.ozon.tab2.rights.tbl.1.2}"></th>
											<th th:utext="#{rnd.eco.ozon.tab2.rights.tbl.1.3}"></th>
											<th th:utext="#{rnd.eco.ozon.tab2.rights.tbl.1.4}"></th>		
											<th th:utext="#{rnd.eco.ozon.tab2.rights.tbl.1.5}"></th>		
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.2.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.2.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.2.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.2.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.2.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.3.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.3.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.3.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.3.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.3.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.4.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.4.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.4.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.4.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.4.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.5.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.5.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.5.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.5.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.5.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.6.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.6.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.6.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.6.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.6.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.7.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.7.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.7.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.7.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.7.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.8.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.8.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.8.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.8.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.8.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.9.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.9.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.9.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.9.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.9.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.10.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.10.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.10.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.10.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.10.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.11.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.11.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.11.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.11.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab2.rights.tbl.11.5}"></td>
										</tr>
									</table>
								</div>
								 -->
							</li>	
							<li id="tab3">
								<p class="tit" th:utext="#{rnd.eco.ozon.tab3.tit}"></p>
								<p th:utext="#{rnd.eco.ozon.tab3.p}"></p>
								<div class="box_wrap box_wrap1">
									<div th:utext="#{rnd.eco.ozon.tab3.div1}"></div>
									<div th:utext="#{rnd.eco.ozon.tab3.div2}"></div>
								</div>
								<!-- 
								<div data-aos="fade-up" data-aos-duration="3000">
									<h4 th:utext="#{rnd.eco.ozon.tab3.rights.h4}"></h4>	
									<table border="0" cellpadding="0" cellspacing="0" class="ta">
										<colgroup>
											<col style="width:20%;">
											<col style="width: auto;">
										</colgroup>
										<tr>
											<th th:utext="#{rnd.eco.ozon.tab3.rights.tbl.1.1}"></th>
											<th th:utext="#{rnd.eco.ozon.tab3.rights.tbl.1.2}"></th>
											<th th:utext="#{rnd.eco.ozon.tab3.rights.tbl.1.3}"></th>
											<th th:utext="#{rnd.eco.ozon.tab3.rights.tbl.1.4}"></th>		
											<th th:utext="#{rnd.eco.ozon.tab3.rights.tbl.1.5}"></th>		
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.2.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.2.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.2.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.2.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.2.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.3.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.3.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.3.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.3.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.3.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.4.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.4.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.4.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.4.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.4.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.5.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.5.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.5.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.5.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.5.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.6.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.6.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.6.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.6.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.6.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.7.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.7.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.7.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.7.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.7.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.8.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.8.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.8.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.8.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.8.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.9.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.9.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.9.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.9.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.9.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.10.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.10.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.10.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.10.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.10.5}"></td>
										</tr>
										<tr>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.11.1}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.11.2}"></td>				
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.11.3}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.11.4}"></td>
											<td th:utext="#{rnd.eco.ozon.tab3.rights.tbl.11.5}"></td>
										</tr>
									</table>
								</div>
								 -->			
							</li>	
						</ul>
					</div>
				</div>
			</div> 
			<script type="text/javascript">
				$(function() {
					$('.tab-ul_1').click(function(){
						$('.tab-ul_1 ul').slideToggle();
					});
					
					$('.tab-ul_2').click(function(){
						$('.tab-ul_2 ul').slideToggle();
					});
					AOS.init();
				})
			</script>
		</section>
	</body>
</html>